* {
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Sans',sans-serif;
}

body {
	background-color: black;
	color: #B9B7BD;
}

.welcome-text {
	padding-left: 15px;
	padding-right: 15px;
}

#courses-jumbotron {
	background-color: black;
	color: #B9B7BD;
}

/*
footer {
	text-align: center;
	margin-top: 50px;
	padding: 25px;
	font-size: medium;
}*/

iframe {
	height: 100%;
	width: 100%;
	border: 0;
}

/*
.card {
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	background-color: #e7e2d9;
}*/

.navbar-brand {
	/*text-transform: uppercase;*/
}

.nav-button {
	padding: 5px;
}

.card-dark {
	color: #E9EAEC;
	background-color: black;
}

.card-med {
	color: #E9EAEC;
	background-color: black;
}

.card-footer-med {
	background-color: black;
}

.card {
	border: 0px;
}

.nav-link {
	display: flex;
	align-items: center;
	vertical-align: middle;
}

.btn-primary {

}

#main-navbar {
	background-color: black;
}

#main-footer {
	background-color: black;
}

#book-now-button {
	color: white;
	border-width: 1px;
	border-color: white;
}

#landing-jumbotron {
	/*padding-top: 100px;
	padding-bottom: 65px;
	display: flex;
	align-items: center;
	background-color: #e7e2d9;*/
	/*height: 100%;*/
	color: white;
	align-items: left;
	background-image: url('../images/plato.jpg');
	/*background-size: 100%;*/
	background-attachment: fixed;
  	background-position: right top;
}

#main-jumbotron {
	background-color: black;
	color: #B9B7BD;
}

#book-now-button {
	/*background-color: green;*/
}

#login-button {

}